body {
    color: white;
    background-image: url(https://img4.goodfon.ru/original/2000x1335/a/55/miaso-steik-rozmarin-pomidory.jpg);
    font-size:6mm;
    background-size: cover;  
    text-align: center;
} 